.pca .percent_per_protein {
	height: 400px;
}

.pca .sequence-length {
	height: 4em;
}

.pca .molecular-weight {
	height: 4em;
}

.pca .gravy {
	height: 4em;
}

.pca .charge {
	height: 4em;
}

.pca .mec {
	height: 4em;
}

.pca .iep {
	height: 4em;
}

.pca .ai {
	height: 4em;
}

.pca .secondary-structure .feature-value {
	height: 15em;
	overflow: scroll;
}

.pca .coil .feature-value {
	height: 15em;
	overflow: scroll;
}

.pca .lc .feature-value {
	height: 15em;
	overflow: scroll;
}

.pca .pest .feature-value {
	height: 15em;
	overflow: scroll;
}

.pca .transmembrane .feature-value {
	height: 15em;
	overflow: scroll;
}


.pca .disorder .feature-value {
	height: 15em;
	overflow: scroll;
}

.pca .prosite table td {
	vertical-align: middle;
}

.pca .prosite .feature-value {
	height: 15em;
	overflow: scroll;
}